$defaultLinkColor: rgb(35, 211, 193);

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
    margin: 0 30px;
}

h1 {
    font-size: 36px;
}

.center {
    text-align: center;
}

.no-select {
    user-select: none;
}

.blink {
    animation: blink 0.6s alternate infinite;
}

.cursor {
    display: inline-block;
    background: black;
    width: 15px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -8px;
}

.code {
    font-family: Inconsolata;
    color: rgb(87, 87, 87);

    .quote {
        color: rgb(240, 130, 116);
    }

    .object {
        color: rgb(22, 197, 168);
    }
}

.title {
    font-size: 42px;
    font-family: Inconsolata;

    .subdir {
        animation: blink 1.5s;
        color: rgb(177, 177, 177);
        font-size: 70%;
        vertical-align: middle;

        &::before {
            content: ' > ';
        }
    }
}

.aboutContainer {
    text-align: justify;
}

ul {
    list-style-type: square;
}

a {
    color: $defaultLinkColor;
    text-decoration: none;
    border-bottom: 2px dotted $defaultLinkColor;
}
