#repoContainer {
    .repo {
        transition: opacity 1.5s;
        
        h1 i {
            font-size: 20px;
            margin-left: 15px;
            vertical-align: middle;
            color: darken($color: $defaultLinkColor, $amount: 10);
        }

        .desc {
            color: rgb(155, 155, 155);
            font-weight: bolder;

            span {
                padding: 5px 20px;
            }

            span:first-of-type {
                padding-left: 0;
            }

            i {
                margin-right: 6px;
            }
        }
    }
}
